// COLORS

$primary-color: #4a4d60;
$secondary-color: #686988;
$bg-color: hsl(240, 78%, 98%);
$light-hrey: hsl(234, 14%, 74%);

$gradient: linear-gradient(90deg, #a2a5f2 0%, #8389e7 80%);

// TYPO

$font-stack: "Montserrat", sans-serif;

h2 {
  color: $secondary-color;
  font-family: $font-stack;
  margin-bottom: 48px;
  font-size: 2em;
}
// BODY

html,
body {
  height: 100%;
  font-family: $font-stack;
  font-size: 15px;
}

body {
  background: $bg-color;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

// BACKGROUND

.bgR {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  /* background: red; */
  z-index: -1;
  background-image: url(../images/bg-top.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.bgL {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  /* background: red; */
  z-index: -1;
  background-image: url(../images/bg-bottom.svg);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
}

// SECTIONS

.main {
  max-width: 1440px;
  min-width: 1040px;
  margin: auto;
  margin-top: 5em;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  width: 100%;
}

.wrapperMain {
  width: 100%;
  display: flex;
  margin-top: 85px;
}

.left,
.right {
  background: white;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.2);
}

.middle {
  background: $gradient;
  z-index: 99;
  margin: -20px 0;
  color: white;

  .specs,
  .priceH,
  .dollar,
  .top {
    color: white !important;
  }
}

.box {
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding: 40px 0 20px 0;
  overflow: hidden;
  position: relative;

  hr {
    width: 80%;
    border: solid thin #dbdbdb;
  }

  #priceTwoAnnual {
    display: none;
    position: absolute;
    top: 120px;
  }

  #priceOneAnnual,
  #priceThreeAnnual {
    display: none;
    position: absolute;
    top: 100px;
  }

  .top {
    margin-bottom: 40px;
    color: $secondary-color;
    font-weight: 700;
    text-align: center;
  }

  .price {
    display: inline-flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
  }

  .dollar {
    font-size: 2em;
    color: $primary-color;
    font-weight: 700;
    margin-right: 0.25em;
  }

  .priceH {
    font-size: 4em;
    color: $primary-color;
    font-weight: 700;
  }

  .specs {
    font-weight: 700;
    padding: 20px 0;
    color: $secondary-color;
  }
}

.attribution {
  margin-top: 3em;
}

// TOGGLE

.toggle {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  span {
    color: $light-hrey;
    font-weight: 700;
  }
}

.toggler {
  height: 33px;
  width: 55px;
  display: inline-block;
  border-radius: 55px;
  position: relative;
  display: inline-flex;
  align-items: center;
  background: $gradient;
  margin: 0 25px;
  cursor: pointer;
}

.toggler:hover {
  background: #a2a5f2;
}

.toggler .inner {
  background: white;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  position: absolute;
  transform: translate(25px, 0);
  //   right: 3px;
  transition: ease 50ms transform;
}

.leftToggle {
  transform: translate(5px, 0) !important;
  transition: ease 50ms transform;
}

.active {
  color: $primary-color !important;
}

.activeTwo {
  color: $primary-color !important;
}

.inactive {
  color: $light-hrey !important;
}

#monthly {
  color: $primary-color;
}

// BUTTON

.button {
  margin: 32px 0;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

.lR {
  color: white;
  background: $gradient;
  border: solid thin white;
}

.lR:hover {
  background: white;
  color: $secondary-color;
  border: solid thin $secondary-color;
}

.mdL {
  color: $secondary-color;
  background: white;
  border: solid thin #a2a5f2;
}

.mdL:hover {
  color: white;
  background: none;
  border: solid thin white;
}

// ANIMATIONS

/* ----------------------------------------------
 * Generated by Animista on 2019-12-21 0:6:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex !important;
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-center 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.fade-out {
  -webkit-animation: fade-out 0.1s ease-out both;
  animation: fade-out 0.1s ease-out both;
}

.fade-in {
  -webkit-animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  display: flex !important;
}
